<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.iculpa"
      android:versionCode="3"
      android:versionName="3.2.0">
    <application debuggable="false" android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
    
    <receiver android:name="CulpaWidget" android:label="@string/app_name">
    	<intent-filter>
    		<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
    	</intent-filter>
    	<meta-data android:name="android.appwidget.provider"
    				android:resource="@xml/iculpa_widget_provider"/>
    </receiver>
    
    <service android:name="CulpaWidget$UpdateService" />

	<activity android:name="CulpaApp"
			  android:label="@string/app_name">
		<intent-filter>
			<action android:name="android.intent.action.MAIN" />
			<category android:name="android.intent.category.LAUNCHER" />
		</intent-filter>	
	</activity>
	
	<activity android:name="CulpaRSS"
				android:label="Apology"
				android:launchMode="singleTop"
				android:noHistory="true">
	</activity>
	
	<activity android:name="Preferences"
			  android:label="@string/set_preferences">
	</activity>
    
    <!--<activity android:name="CulpaGPS"
              android:label="Test">
        <intent-filter>
            <action android:name="android.settings.LOCATION_SOURCE_SETTINGS"/>
            <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
    </activity>-->


    </application>
    <uses-sdk android:minSdkVersion="4" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
</manifest>